/* Fonts */

@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap");

/* Variables */

:root {
  --brand-color: #1e9e6a;
  --tint-color: #f3fff2;

  --dark: #1a202c;

  --gray-10: #656769;
  --gray-20: #e8e8e8;
  --gray-30: #f7fafc;

  --white: #ffffff;
}

/* Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General Styles */

html {
  font-size: 62.5%;
}

body {
  height: 100vh;

  font-family: "Archivo", sans-serif;
  font-weight: 400;
  line-height: 1;

  display: flex;
}

/* General Layout */

.right,
.left {
  width: 50%;
}

/* Left Container layout */

.left {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--tint-color);
}

/* Left Container Content Styles */

.box-img {
  max-width: 100%;
}

.login-img {
  width: 100%;
  height: auto;
}
